.input-field {
  height: 2.5em;
  width: 7em;
}

.input-field input,
.input-field .k-input-spinner {
  height: inherit;
}

.k-button {
  height: 2em;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  cursor: default;
  inset: 0;
  z-index: 100;
}

.custom-modal {
  width: 30em;
  height: fit-content;
  border-radius: 0.06em;
}

h5,
p,
button {
  line-height: 1.4rem;
}

.form-control .error {
  border: 0.0625em solid rgb(153, 63, 63);
  color: rgb(153, 63, 63);
}

.form-control .error ::placeholder {
  color: rgb(153, 63, 63);
}

.error-message {
  color: rgb(153, 63, 63);
}

.sort-down-icon {
  color: rgb(114, 107, 107);
  top: 7%;
}

.sort-down-icon.disabled {
  color: rgb(227, 214, 214);
  pointer-events: none;
}

.sort-up-icon {
  color: rgb(114, 107, 107);
}

.sort-up-icon.disabled {
  color: rgb(227, 214, 214);
  pointer-events: none;
}

.slider {
  border-bottom: 0.0625em solid rgb(126, 121, 121);
}

.search-bar {
  border-radius: 0.4em;
  width: 20em;
  border: 0.0825em solid rgb(126, 121, 121);
}

.empty-content {
  min-height: 10em;
}
